<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JSON Tests">
    <test name="Utilities">
        <classes>
            <class name="utils.PartitionTest"/>
        </classes>
    </test>
    <test name="Simple types">
        <classes>
            <class name="json.types.JsonArrayTest"/>
            <class name="json.types.JsonBooleanTest"/>
            <class name="json.types.JsonNullTest"/>
            <class name="json.types.JsonNumberTest"/>
            <class name="json.types.JsonObjectTest"/>
            <class name="json.types.JsonStringTest"/>
        </classes>
    </test>
    <test name="General">
        <classes>
            <class name="json.JsonGeneralTest"/>
        </classes>
    </test>
</suite>